.gallery-list {
    display: flex;
    width: 100%;
    gap: var(--section-separation);
    margin-top: var(--section-separation);
}
.gallery-column {
    flex: 1;
    // 选择第一个元素
    &:first-child {
        margin-left: 0;
    }
}
.gallery-item {
    margin-bottom: var(--section-separation);
    padding: 10px;
    background-color: var(--card-background);
    box-shadow: var(--shadow-l1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    img {
        width: 100%;
    }
    .note {
        color: var(--card-text-color-main);
        font-size: 15px;
    }
    .time {
        color: var(--card-text-color-secondary);
        font-size: 12px;
    }
}