.home-section {
  display: flex;
  align-items: center;
  padding-left: 15px;
  position: relative;
  margin-bottom: var(--section-separation);
  &::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 2.5px;
    position: absolute;
    left: 0;
  }
  span {
    font-size: 25px;
    font-weight: bold;
    color: var(--card-text-color-main);
  }
  a {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.home-gallery-container {
  .home-gallery {
    .home-gallery-item {
      position: relative;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-radius: var(--card-border-radius);
      //过渡
      transition: all 0.3s ease-in-out;
      .gallery-item-note {
        position: absolute;
        bottom: 0;
        z-index: 1;
        font-size: 15px;
        color: var(--card-text-color-secondary);
      }
      .gallery-item-image {
        position: relative;
        top: 0;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        z-index: 2;
        &:hover {
          top: -20px;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.home-vault {
  .vault-item {
    height: max-content;
  }
}