{{ define "body-class" }}template-about{{ end }}
{{ define "main" }}
{{ $infoParams := .Site.Params.info }}
{{ with $infoParams }}
<div class="meta no-copy">
    <div class="avatar">
      <img src="{{ .avatar }}" alt="" />
    </div>
    <div class="title">
    {{ .title }}
    </div>
    <div class="subtitle">
    {{ .subtitle }}
    </div>
</div>
{{ end }}
{{ partial "social.html" . }}
<div class="about no-copy main-width">
    {{ partial "progress-bar.html" . }}
    <div class="Me">
        <div class="aboutMe card">
            <span class="img">
                <img src="{{.Params.aboutMe.image}}" alt="">
            </span>
            <span class="introduction">
                <h3>关于我</h3>
                <div class="content">
                    <p>典型80后</p>
                    <p>双非机械专业硕士生</p>
                    <p><del>地下朋克乐队贝斯手</del></p>
                    <p>即将步入社会，已经做好进厂的准备了</p>
                    <p>......</p>
                </div>
            </span>
            <div class="aboutme-btn">
                <a href="/post/20240326153507/">
                    <span class="more"></span>
                    <span>了解更多</span>
                </a>
            </div>
        </div>
        <div class="personalities card">
            <p>
                <div class="title">
                    <p>{{ .Params.MBTI.title | upper }}</p>
                    <p>{{.Params.MBTI.chinese}}</p>
                </div>
                <div class="img">
                    <img src="/images/mbti/{{ .Params.MBTI.title | lower }}.svg" alt="">
                </div>
            </p>
        </div>
    </div>
    <div class="interest card">
        <h3>我的兴趣</h3>
        <div class="interest-content">
            {{ range .Params.interest }}
                <span>
                    {{ .contentBefore }}
                    <strong style="color: {{ .color }};">
                        {{ .strong }}
                    </strong>
                    {{ .contentAfter }}
                </span>
            {{ end }}
        </div>        
    </div>
    <div class="aboutSite">
        <div class="about-site card">
            <h3>关于本站</h3>
            <div class="about-site-content">
                {{ range .Params.aboutSite }}
                    <div>
                        <span class="emoji">{{ .icon }}</span>
                        <span class="title">{{ .title }}：</span>
                        <span class="content">
                            {{ .content | markdownify | safeHTML }}
                        </span>
                    </div>
                {{ end }}
            </div>
        </div>        
        <div class="statistic card">
            <h3>数据统计</h3>
            <div class="content">
                <div>
                    <div class="name">今日人数</div>
                    <div class="num" id="todayUv">Loading...</div>
                </div>
                <div>
                    <div class="name">今日访问</div>
                    <div class="num" id="todayPv">Loading...</div>
                </div>
                <div>
                    <div class="name">昨日人数</div>
                    <div class="num" id="yesterdayUv">Loading...</div>
                </div>
                <div>
                    <div class="name">昨日访问</div>
                    <div class="num" id="yesterdayPv">Loading...</div>
                </div>
                <div>
                    <div class="name">上月访问</div>
                    <div class="num" id="lastMonthPv">Loading...</div>
                </div>
            </div>
            <div class="bgimg">
                <div class="statistic-bgimg"></div>
            </div>
        </div>
    </div>
</div>
<div class="main-width">
    <div class="event card no-copy">
        <h3>博客大事记</h3>
        <section class="timeline">
            <ol>
                {{ range $event := .Params.event }}
                <li>
                    <div>
                    <time>{{ $event.date }}</time>{{ $event.content }}
                    </div>
                </li>
                {{ end }}
            </ol>
        </section>
    </div>
</div>

<div class="main-width">
    <div class="now card">
        <h3>当下</h3>
        <section class="page-content now-content">
            {{ .Content }}
        </section>      
        <div class="update-time">
            <div class="time" id="updatetime"><strong>⏱️更新时间:</strong>{{ .Params.update }}</div>
            <div class="icon" id="nowinfoicon">
                {{ partial "helper/icon" "notice-info" }}
            </div>
        </div>
        <div class="nowinfo card" id="nowinfo">
            <h3>为何创建这个板块?</h3>
            某天在用开往进行网上冲浪的时候，看到了一个博客站—— <a href="https://www.yoghurtlee.com" target="_blank"> <strong>园子里的日光</strong></a>——有一个<a href="https://www.yoghurtlee.com/now" target="_blank"> <strong>如今</strong></a>页面，从而知道了一个网站， https://nownownow.com 。想着这是一个很好的记录个人当下生活的方式，毕竟有的内容很琐碎，没必要一篇文章来记录，遂创建了这个板块。
        </div>
    </div>
</div>
<script>
    const nowinfoicon = document.getElementById("nowinfoicon");
    const nowinfo = document.getElementById("nowinfo");
    const updatetime =document.getElementById("updatetime");
    nowinfo.style.display = "none";
    // 浮动显示，离开消失
    nowinfoicon.addEventListener("mouseover", function() {
        nowinfo.style.display = "block";
        updatetime.style.display = "none";
    });
    nowinfoicon.addEventListener("mouseout", function() {
        nowinfo.style.display = "none";
        updatetime.style.display = "block";
    });
    nowinfo.addEventListener("mouseover", function() {
        nowinfo.style.display = "block";
        updatetime.style.display = "none";
    });
    nowinfo.addEventListener("mouseout", function() {
        nowinfo.style.display = "none";
        updatetime.style.display = "block";
    });
</script>
{{ partial "comments/twikoo" . }}

{{- with .Site.Params.umami -}}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        umiTongji();
    });
    
    function umiTongji() {
        var umiToken = "{{- .token -}}";
        var umiId = "{{- .websiteId -}}"; // 获取到的 websiteId
        var umiTime = Date.now();
        var apiUrl = "{{- .url -}}" + "/api/websites/" + umiId + "/stats";

        var today = new Date();
        var yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        var lastMonthStart = new Date(today.getFullYear(), today.getMonth() - 1, 1);
        var lastMonthEnd = new Date(today.getFullYear(), today.getMonth(), 0);

        var timeRanges = {
            today: { start: today.setHours(0, 0, 0, 0), end: umiTime },
            yesterday: { start: yesterday.setHours(0, 0, 0, 0), end: yesterday.setHours(23, 59, 59, 999) },
            lastMonth: { start: lastMonthStart.getTime(), end: lastMonthEnd.getTime() }
    };

    function fetchData(timeRange) {
        var url = apiUrl + "?startAt=" + timeRange.start + "&endAt=" + timeRange.end;
        return fetch(url, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + umiToken,
                'Content-Type': 'application/json'
            }
        }).then(res => res.json());
    }

    Promise.all([
        fetchData(timeRanges.today),
        fetchData(timeRanges.yesterday),
        fetchData(timeRanges.lastMonth)
    ]).then(([todayData, yesterdayData, lastMonthData]) => {
        document.querySelector('#todayUv').innerHTML = todayData.visitors.value ?? 'N/A';
        document.querySelector('#todayPv').innerHTML = todayData.pageviews.value ?? 'N/A';
        document.querySelector('#yesterdayUv').innerHTML = yesterdayData.visitors.value ?? 'N/A';
        document.querySelector('#yesterdayPv').innerHTML = yesterdayData.pageviews.value ?? 'N/A';
        document.querySelector('#lastMonthPv').innerHTML = lastMonthData.pageviews.value ?? 'N/A';
    }).catch(error => {
        console.error('获取数据出错', error);
        document.querySelectorAll('.num').forEach(span => span.innerHTML = 'N/A');
    });
}
</script>
{{- end -}} 
{{ end }}