<!-- Progress Bar HTML -->
<div id="progress-container"  class="progress-container">
  <div class="progress-text">十年之约</div>
  <div id="progress-bar" class="progress-bar" style="width: 0%;"></div>
</div>

<script>
function updateProgressBar() {
    window.setTimeout(updateProgressBar, 1000); // 每秒更新一次

    var BirthDay = new Date("{{ .Site.Params.footer.starttime }}"); // 获取网站的开始时间
    var today = new Date();
    var timeold = today.getTime() - BirthDay.getTime();
    
    var msPerDay = 24 * 60 * 60 * 1000;
    var totalDuration = 10 * 365 * msPerDay; // 总时间跨度为10年

    var progress = (timeold / totalDuration) * 100;
    progress = Math.min(progress, 100); // 确保进度不会超过100%
    progress = Math.max(progress, 0); // 确保进度不会小于0%

    var progressBar = document.getElementById('progress-bar');
    progressBar.style.width = progress + '%';
}

updateProgressBar(); // 初始化进度条
</script>