{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}

<div class="banner no-copy main-width">
    <div class="banner-404">
        404
    </div>
</div>

<div class="post-list main-width">
    <h3 class="section-title">近期文章</h3>
    <section class="article-list">
        {{ range first 6 $filtered }}
            {{ partial "article-list/404" . }}
        {{ end }}
    </section>
</div>
{{ end }}
