<section class="home-taxonomy-container main-width">
    <!--<div class="taxonomy-main">
        <a href="/categories/" class="taxonomy card">
            <div class="title">分类</div>
            <div class="en-title">Categories</div>
            <div class="taxonomy-icon">{{ partial "helper/icon" "ArrowCircleUpRight" }}</div>
        </a>
        <a href="/tags" class="taxonomy card">
            <div class="title">标签</div>
            <div class="en-title">Tags</div>
            <div class="taxonomy-icon">{{ partial "helper/icon" "ArrowCircleUpRight" }}</div>
        </a>
        <a href="/columns" class="taxonomy card">
            <div class="title">专栏</div>
            <div class="en-title">Columns</div>
            <div  class="taxonomy-icon">{{ partial "helper/icon" "ArrowCircleUpRight" }}</div>
        </a>
    </div>-->
    <a href="/archives" class="archives-button">所有文章</a>
</section>